<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Eco</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Interface Utilisateur Écologique</h1>
            <div class="selected-option">
                <input type="text" id="selected_value" placeholder="Choisissez votre secteur" readonly>
                <span id="clear_option" class="clear-option">x</span>
            </div>

            <table id="nested_table" class="nested-table">
                <tbody>
                    {% for option in dropdown_options %}
                        <tr>
                            <td>
                                {% if option.get('sub_options') %}
                                <button class="toggle-button">
                                    <img src='static/plus.png' class="plus-icon" width="20" height="20">
                                    <img src='static/plus_green.png' class="plus-icon-green" width="20" height="20">
                                </button>
                                {% endif %}
                            </td>
                            <td class="options">{{ option.name }}</td>
                        </tr>
                        {% if option.get('sub_options') %}
                            {% for sub_secteur in option.sub_options %}
                                <tr class="sub-option hidden" data-parent="{{ option.name }}">
                                    <td></td>
                                    <td id = 'td2'>{{ sub_secteur.name }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <form action="/submit/" method="post">
                <div>
                    <label for="user_input">Entrez votre texte:</label>
                    <textarea id="user_input" name="user_input" rows="4" cols="50"></textarea>
                </div>
                <button type="submit">Soumettre</button>
            </form>
        </div>
        <div class="sidebar">
            <h2>Solution</h2>
            <!-- Contenu de la barre latérale à remplir plus tard -->
        </div>
    </div>
    <div class="centered">
        <label for="budget">Budget:</label>
        <input type="text" id="budget" name="budget">
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var dropdownOptions = document.querySelectorAll('.options');
            var selectedValue = document.getElementById('selected_value');
            var nestedTable = document.getElementById('nested_table');
            var toggleButtons = document.querySelectorAll('.toggle-button');
            var subOptions = document.querySelectorAll('.sub-option');
            var clearOption = document.getElementById('clear_option');
            var input = document.getElementById('selected_value');
            
            nestedTable.style.display = 'none';

            toggleButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var parentOption = this.parentElement.nextElementSibling.textContent;
                    var subOptions = document.querySelectorAll('.sub-option[data-parent="' + parentOption + '"]');
                    subOptions.forEach(function(subOption) {
                        subOption.classList.toggle('hidden');
                    });
                    /* Change l'icône du bouton pour qu'il change avec static/minus.png */
                    this.innerHTML = this.innerHTML === '<img src="static/plus_green.png" width="20" height="20">' ? '<img src="static/minus.png" width="20" height="20">' : '<img src="static/plus.png" width="20" height="20">';
                });      
            });
            

            subOptions.forEach(function(subOption) {
                subOption.addEventListener('click', function() {
                    var text = this.textContent.replace(/\s/g, '');
                    selectedValue.value = text;
                    nestedTable.style.display = 'none';
                });
            });
            
            dropdownOptions.forEach(function(option) {
                option.addEventListener('click', function() {
                    var text = this.textContent.replace(/\s/g, '');
                    selectedValue.value = text;
                    nestedTable.style.display = 'none';
                });
            });

            clearOption.addEventListener('click', function() {
                selectedValue.value = ""; // Efface la valeur
                selectedValue.placeholder = "Choisissez votre secteur"; // Rétablit le placeholder
            });

            input.addEventListener('click', function() {
                if (nestedTable.style.display === 'none') {
                    nestedTable.style.display = 'block';
                } else {
                    nestedTable.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
