<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Eco</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <style>
        .sub-options {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Interface Utilisateur Écologique</h1>
            <form action="/submit/" method="post">
                <div>
                    <label for="dropdown">Choisissez une option:</label>
                    <select id="dropdown" name="selected_option">
                        {% for option in dropdown_options %}
                            <option value="{{ option.name }}">{{ option.name }}</option>
                            {% if option.get('sub_options') %}
                                {% for sub_option in option.sub_options %}
                                    <option class="sub-options" data-parent="{{ option.name }}" value="{{ sub_option.value }}">{{ sub_option.name }}</option>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="user_input">Entrez votre texte:</label>
                    <textarea id="user_input" name="user_input" rows="4" cols="50"></textarea>
                </div>
                <button type="submit">Soumettre</button>
            </form>
        </div>
        <div class="sidebar">
            <h2>Solution</h2>
            <!-- Contenu de la barre latérale à remplir plus tard -->
        </div>
    </div>
    <div class="centered">
        <label for="budget">Budget:</label>
        <input type="text" id="budget" name="budget">
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var dropdown = document.getElementById('dropdown');
            var subOptions = document.querySelectorAll('.sub-options');

            dropdown.addEventListener('change', function() {
                var selectedOption = this.value;

                // Cacher toutes les sous-options
                subOptions.forEach(function(subOption) {
                    subOption.style.display = 'none';
                    subOption.classList.add('hidden');
                });

                // Afficher les sous-options correspondant à l'option sélectionnée
                var selectedSubOptions = document.querySelectorAll('.sub-options[data-parent="' + selectedOption + '"]');
                selectedSubOptions.forEach(function(subOption) {
                    subOption.style.display = 'block';
                    subOption.classList.remove('hidden');
                });
            });
        });
    </script>
</body>
</html>
